/* global style */
body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
h1,h3,p {
    margin: 0;
}
section {
    margin: 45px 0;
}
main {
    max-width: 1180px;
    margin: 0 auto;
}
/* header style */
header {
    background-color: #f1f2f3;
    padding: 40px 15px;
    box-shadow: 0px 1px 25px -15px #333;
    text-align: center;
    text-transform: capitalize;
}
header h1 {
    font-size: 34px;
}
header h1 span {
    font-size: 24px;
}

/* search section style*/
.search-col {
    text-align: center;
}
.search-col input, .search-col button {
    border: 1px solid #ddd;
    border-radius: 5px;
}
.search-col input {
    max-width: 30%;
    width: 100%;
    padding: 10px 15px;
    background-color: #f9f9f9;
}
.search-col button {
    margin-left: -5px;
    font-size: 18px;
    font-weight: 600;
    padding: 7px 15px;
    cursor: pointer;
    transition: all 0.4s;
}
.search-col button:hover {
    background-color: #c7dff7;
}

/* search results quantity */
#searchResultsQuantity h3 {
    background-color: #f1f2f3;
    padding: 40px 15px;
    box-shadow: 0px 3px 2px 0px rgb(0 0 0 / 10%);
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: capitalize;
}

/* search results style */
#search-results {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(20%, 1fr) );
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.single-book {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: all 0.4s;
}
.single-book:hover {
    box-shadow: none;
}
.single-book img {
    width: 100%;
    margin-bottom: 15px;
}
.single-book h3, .single-book p {
    margin-bottom: 10px;
}
.single-book p:last-child {
    margin-bottom: 0;
}

/* pre loader */
#pre-loader {
    width: 100%;
    height: 60%;
    background-color: skyblue;
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
}
.pre-load {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    position: fixed;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -75%);

}

.pre-load>div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.pre-load div:nth-child(1) {
    left: 8px;
    animation: animate 0.6s infinite;
}

.pre-load div:nth-child(2) {
    left: 8px;
    animation: animate2 0.6s infinite;
}

.pre-load div:nth-child(3) {
    left: 32px;
    animation: animate2 0.6s infinite;
}

.pre-load div:nth-child(4) {
    left: 56px;
    animation: animate3 0.6s infinite;
}

@keyframes animate {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes animate3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes animate2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

/* Resonsive */
@media screen and (max-width: 1000px) {
    #search-results {
        grid-template-columns: repeat( auto-fit, minmax(40%, 1fr) );
    }
}
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 18px;
    }
    header h1 span {
        font-size: 14px;
    }
    header h1 span {
        font-size: 14px;
    }
    .search-col input {
        max-width: 85%;
        width: 100%;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    #searchResultsQuantity h3 {
        padding: 15px;
        font-size: 20px;
    }
    #search-results {
        grid-template-columns: repeat( auto-fit, minmax(100%, 1fr) );
    }
}